body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    background-color: #082d55;
    /* Plain blue background */
    font-family: Arial, sans-serif;
}


.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #093666;
    /* Dark blue border */
    border-radius: 5px;
    background-color: #d6dce2;
    /* Pale blue background */
}

h1 {
    text-align: center;
    color: #0e2f53;
    /* Dark blue text color */
}

form {
    display: flex;
    flex-direction: column;
}

label,
input {
    margin-bottom: 10px;
    color: #103a68;
    /* Dark blue text color */
}

button {
    margin-top: 10px;
    background-color: #142a41;
    /* Dark blue button background */
    color: #fff;
    /* White text color for the button */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0c2f53;
    /* Slightly darker blue on hover */
}

/* Media Queries for Responsive Layout */
@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}